/* Font Import */

@font-face {
  font-family: 'Outfit-Black';
  src: url('./fonts/Outfit-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Bold';
  src: url('./fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-ExtraBold';
  src: url('./fonts/Outfit-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-ExtraLight';
  src: url('./fonts/Outfit-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Light';
  src: url('./fonts/Outfit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Medium';
  src: url('./fonts/Outfit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Regular';
  src: url('./fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-SemiBold';
  src: url('./fonts/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit-Thin';
  src: url('./fonts/Outfit-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


/* Root variables */
:root {
  /* Colours */
  --primary: #141414;
  --secondary: #fcfffe;
  --tertiary: #1a1a1a;
  --quaternary: #343434;

  --accent-one: #cc0018;
  --accent-two: #e05200;
  --accent-three: #f79e1b;
  --accent-four: #ffe6a7;

  /* Font */

--font: 'Outfit-Regular', sans-serif;

  /* Sizing */
  --top-pad: 2rem;
  --side-pad: 4rem;

  /* All rem value are based off of this size */
  font-size: 24px;
}

/* Resets */
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Base styles */
html {
  font-family: var(--font);
  scroll-behavior: smooth;
  height: 100vh;
  overflow-x: hidden;
}

body {
  /* position: fixed; */
  height: 100%;
  width: 100%;
  overflow-y: auto;

  color: var(--secondary);
  background-color: var(--primary);
}

/* Scrollbar styling */
::-webkit-scrollbar {
  background-color: var(--tertiary);
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--quaternary);
  border-radius: 4rem;
}

/* Media queries */
